@import "tailwindcss";

@theme {
  --font-sans: "Manrope", "sans-serif";
  --heading-color: #1c1c1c;
  --bg-gradiant: linear-gradient(to right, #ff0000, #ff8938);
}

@layer components {
}

h1 {
  font-size: clamp(3rem, 0.44rem + 6.4vw, 5rem);
}

h2 {
  font-size: clamp(1.875rem, 0.675rem + 3vw, 2.8125rem);
}

h3 {
  font-size: clamp(1.375rem, 1.135rem + 0.6vw, 1.5625rem);
}

h4 {
  font-size: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  color: var(--heading-color);
}
