@import "tailwindcss";

@theme {
  --font-sans: "Manrope", "sans-serif";
  --heading-color: #1c1c1c;
  --background-image-brand-gradient: linear-gradient(
    to right,
    #ff8938,
    #ff0000
  );
  --background-image-white-to-gray: linear-gradient(
    to bottom,
    hsla(0, 0%, 96%, 100),
    hsla(0, 0%, 96%, 0)
  );
}

@layer components {
  .contain {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }

  .btn {
    background-image: var(--background-image-brand-gradient);
    color: var(--color-white);
    padding: 1.15rem 1.25rem;
    border-radius: 0.65rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  .card {
    width: 100%;
    max-width: 300px;
    border-radius: 0.65rem;
    background-image: var(--background-image-white-to-gray);

    .image {
      padding-block: 1.9rem;
      img {
        margin: 0 auto;
      }
    }

    .content {
      background-color: white;
      padding: 1.9rem;
      text-align: center;
    }
  }
}

h1 {
  font-size: clamp(3rem, 0.44rem + 6.4vw, 5rem);
}

h2 {
  font-size: clamp(1.875rem, 0.675rem + 3vw, 2.8125rem);
}

h3 {
  font-size: clamp(1.375rem, 1.135rem + 0.6vw, 1.5625rem);
}

h4 {
  font-size: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  color: var(--heading-color);
  text-transform: capitalize;
}

.py-main {
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}

@media (min-width: 768px) {
  .py-main {
    padding-top: 3.8rem;
    padding-bottom: 3.8rem;
  }
}
